/* Fadesta
   ========================================================================== */
   
.stage {
	position:relative;
} 
  
 
.stage__item {
	background-position:center top;
	background-repeat:no-repeat;
	position: absolute;
	display: block;
	height: 300px;
	opacity: 0;
	top:0;
	width: 100%;
	z-index: 2;
	
	-webkit-transform: translateZ(0);
	
	-webkit-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	-moz-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	-ms-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	-o-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	
}  

/* Fadesta Navigation
   ========================================================================== */
 
.navigation {
	position: absolute;
	z-index: 3;
}


/* Fadesta Pagination
   ========================================================================== */
   
.cpag {
	list-style: none;
	padding-left: 0;
	position: absolute;
	top: 3em;
	z-index: 3;
}

.is-active {
	background-color: red;
}